---
http_interactions:
- request:
    method: get
    uri: https://api.passivetotal.org/v2/dns/passive/unique?query=passivetotal.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"queryType": "domain", "total": 38, "results": ["54.215.222.239",
        "54.215.207.36", "13.56.52.225", "162.243.102.221", "54.241.161.156", "52.9.207.153",
        "52.52.51.237", "52.9.167.146", "54.219.149.198", "52.9.38.231", "104.131.121.205",
        "54.153.123.93", "54.183.52.43", "52.9.61.171", "54.183.207.212", "50.18.205.169",
        "52.8.228.23", "54.183.74.245", "54.193.32.222", "13.56.87.12", "52.9.132.171",
        "52.52.210.93", "52.8.140.108", "52.9.194.122", "52.8.192.151", "52.52.204.65",
        "52.53.133.106", "52.9.20.68", "52.8.99.148", "45.55.48.88", "52.52.85.138",
        "45.55.77.126", "52.9.109.27", "54.219.241.230", "107.170.89.121", "52.8.39.238",
        "54.193.74.134", "52.52.94.111"], "queryValue": "passivetotal.org", "pager":
        null, "frequency": [["54.215.222.239", 1], ["54.215.207.36", 1], ["13.56.52.225",
        1], ["162.243.102.221", 1], ["54.241.161.156", 1], ["52.9.207.153", 1], ["52.52.51.237",
        1], ["52.9.167.146", 1], ["54.219.149.198", 1], ["52.9.38.231", 1], ["104.131.121.205",
        1], ["54.153.123.93", 1], ["54.183.52.43", 1], ["52.9.61.171", 1], ["54.183.207.212",
        1], ["50.18.205.169", 1], ["52.8.228.23", 1], ["54.183.74.245", 1], ["54.193.32.222",
        1], ["13.56.87.12", 1], ["52.9.132.171", 1], ["52.52.210.93", 1], ["52.8.140.108",
        1], ["52.9.194.122", 1], ["52.8.192.151", 1], ["52.52.204.65", 1], ["52.53.133.106",
        1], ["52.9.20.68", 1], ["52.8.99.148", 1], ["45.55.48.88", 1], ["52.52.85.138",
        1], ["45.55.77.126", 1], ["52.9.109.27", 1], ["54.219.241.230", 1], ["107.170.89.121",
        1], ["52.8.39.238", 1], ["54.193.74.134", 1], ["52.52.94.111", 1]]}

        '
  recorded_at: Sat, 05 Oct 2019 21:53:17 GMT
recorded_with: VCR 5.0.0
