---
http_interactions:
- request:
    method: get
    uri: https://api.passivetotal.org/v2/host-attributes/pairs?direction=children&query=passivetotal.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results": [{"lastSeen": "2016-08-22 07:16:30", "parent": "help.passivetotal.org",
        "cause": "script.src", "firstSeen": "2016-08-20 04:40:34", "child": "js.stripe.com"},
        {"lastSeen": "2017-07-24 23:41:12", "parent": "beta.passivetotal.org", "cause":
        "script.src", "firstSeen": "2016-12-22 01:02:28", "child": "static.woopra.com"},
        {"lastSeen": "2019-10-04 02:39:18", "parent": "blog.passivetotal.org", "cause":
        "iframe.src", "firstSeen": "2016-07-23 08:07:43", "child": "www.youtube.com"},
        {"lastSeen": "2017-05-29 20:33:23", "parent": "pt2.passivetotal.org", "cause":
        "css.import", "firstSeen": "2016-0[...]
