---
http_interactions:
- request:
    method: get
    uri: https://api.passivetotal.org/v2/whois/search/keyword?query=riskiq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"queryValue": "riskiq", "results": [{"fieldMatch": "name", "matchType":
        "domain", "focusPoint": "riskiq.co.ke"}, {"fieldMatch": "name", "matchType":
        "domain", "focusPoint": "riskiq.org.cn"}, {"fieldMatch": "name", "matchType":
        "domain", "focusPoint": "riskiq.om"}, {"fieldMatch": "name", "matchType":
        "domain", "focusPoint": "riskiq.hr"}, {"fieldMatch": "name", "matchType":
        "domain", "focusPoint": "riskiq.org.il"}, {"fieldMatch": "name", "matchType":
        "domain", "focusPoint": "riskiq.lv"}, {"fieldMatch": "name", "matchType":
        "domain", "focusPoin[...]
