---
http_interactions:
- request:
    method: get
    uri: https://api.passivetotal.org/v2/ssl-certificate/history?query=240461b20dbb24a61b0a986821c2ad01bd3a8522
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results": [{"firstSeen": "2015-02-09", "ipAddresses": ["194.42.46.143",
        "194.42.46.243"], "sha1": "240461b20dbb24a61b0a986821c2ad01bd3a8522", "lastSeen":
        "2017-01-09"}], "success": true}

        '
  recorded_at: Sun, 06 Oct 2019 02:44:38 GMT
recorded_with: VCR 5.0.0
