---
http_interactions:
- request:
    method: get
    uri: https://api.passivetotal.org/v2/whois/search?field=email&query=domains@riskiq.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results": [{"registrar": "GODADDY.COM, LLC", "admin": {"state": "california",
        "email": "domains@riskiq.com", "postalCode": "94111", "name": "Risk IQ", "organization":
        "RiskIQ, Inc.", "country": "us", "city": "san francisco", "telephone": "18884154447",
        "street": "22 Battery Street\n10th Floor"}, "registrant": {"state": "california",
        "email": "domains@riskiq.com", "postalCode": "94111", "name": "Risk IQ", "organization":
        "RiskIQ, Inc.", "country": "us", "city": "san francisco", "telephone": "18884154447",
        "street": "22 Battery Street\n10th Floor"}, "registryUpdatedAt": "2014-12-08T16:00:00.000-0800",
        "expiresAt": "2017-01-11T16:00:00.000-0800", "zone": {}, "telephone": "18884154447",
        "registered": "2006-01-11T16:00:00.000-0800", "lastLoadedAt": "2016-09-27T09:40:31.180-0700",
        "organization": "RiskIQ, Inc.", "nameServers": ["luke.ns.cloudflare.com",
        "serena.ns.cloudflare.com"], "name": "Risk IQ", "domain": "domains@riskiq.com",
        "whoisServer": "whois.godaddy.com", "contactEmail": "domains@riskiq.com",
        "billing": {}, "tech": {"state": "california", "email": "domains@riskiq.com",
        "postalCode": "94111", "name": "Risk IQ", "organization": "RiskIQ, Inc.",
        "country": "us", "city": "san francisco", "telephone": "18884154447", "street":
        "22 Battery Street\n10th Floor"}}, {"registrar": "GODADDY.COM, LLC", "admin":
        {"state": "california", "email": "domains@riskiq.com", "postalCode": "94111",
        "name": "Risk IQ", "organization": "RiskIQ, Inc.", "country": "us", "city":
        "san franc[...]
