---
http_interactions:
- request:
    method: get
    uri: https://api.passivetotal.org/v2/whois?query=passivetotal.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"nameServers": ["ns-1460.awsdns-54.org", "ns-218.awsdns-27.com", "ns-613.awsdns-12.net",
        "ns-1868.awsdns-41.co.uk"], "tech": {}, "registrar": "Nom-iq Ltd. dba COM
        LAUDE", "domain": "passivetotal.org", "expiresAt": "2020-04-14T13:00:56.000-0700",
        "whoisServer": "whois.comlaude.com", "admin": {}, "registrant": {"organization":
        "RiskIQ, Inc.", "state": "california", "country": "united states"}, "billing":
        {}, "organization": "RiskIQ, Inc.", "name": "N/A", "rawText": "\n\n\n\nDomain
        Name: PASSIVETOTAL.ORG\nRegistry Domain ID: D171949541-LROR\nRegistrar WHOIS
        Server: whois.comlaude.com\nRegistrar URL: https://comlaude.com/whois\nUpdated
        Date: 2018-08-25T00:20:58Z\nCreation Date: 2014-04-14T20:00:56Z\nRegistry
        Expiry Date: 2020-04-14T20:00:56Z\nRegistrar Registration Expiration Date:\nRegistrar:
        Nom-iq Ltd. dba COM LAUDE\nRegistrar IANA ID: 470\nRegistrar Abuse Contact
        Email: abuse@comlaude.com\nRegistrar Abuse Contact Phone: +44.2074218250\nReseller:\nDomain
        Status: clientDeleteProhibited https://icann.org/epp#clientDeleteProhibited\nDomain
        Status: clientUpdateProhibited https://icann.org/epp#clientUpdateProhibited\nRegistrant
        Organization: RiskIQ, Inc.\nRegistrant State/Province: California\nRegistrant
        Country: US\nName Server: NS-1460.AWSDNS-54.ORG\nName Server: NS-218.AWSDNS-27.COM\nName
        Server: NS-613.AWSDNS-12.NET\nName Server: NS-1868.AWSDNS-41.CO.UK\nDNSSEC:
        unsigned\nURL of the ICANN Whois Inaccuracy Complaint Form https://www.icann.org/wicf/)\n>>>
        Last update of WHOIS database: 2019-07-06T02:28:37Z <<<\n\nFor more information
        on Whois status codes, please visit https://icann.org/epp\n\nAccess to Public
        Interest Registry WHOIS information is provided to a[...]
