---
http_interactions:
- request:
    method: get
    uri: https://api.passivetotal.org/v2/dns/passive?query=passivetotal.org&timeout=7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"queryValue": "passivetotal.org", "firstSeen": "2014-04-15 19:12:09",
        "lastSeen": "2019-10-05 21:51:41", "results": [{"firstSeen": "2014-11-16 18:02:30",
        "lastSeen": "2019-10-05 21:51:41", "value": "passivetotal.org", "collected":
        "2019-10-05 21:51:42", "source": ["pingly", "riskiq"], "recordHash": "078bdf6614ae4350b73710f7539380a62d4841694a8d657a5194a464fa8442b1",
        "resolve": "alt1.aspmx.l.google.com", "resolveType": "domain", "recordType":
        "MX"}, {"firstSeen": "2014-10-09 17:49:22", "lastSeen": "2015-12-29 16:10:00",
        "value": "passivetotal.org", "collected": "2019-10-05 21:51:42", "source":
        ["riskiq"], "recordHash": "ffe60072301c8bd526592dd4604d5c41573dfe414d91776303c3cbf47817ebdd",
        "resolve": "hostmaster@passivetotal.org", "resolveType": "email", "recordType":
        "SOA"}, {"firstSeen": "2017-06-14 11:22:21", "lastSeen": "2017-06-23 23:34:35",
        "value": "passivetotal.org", "collected": "[...]
