---
http_interactions:
- request:
    method: get
    uri: https://api.passivetotal.org/v2/ssl-certificate?query=240461b20dbb24a61b0a986821c2ad01bd3a8522
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results": [{"subjectOrganizationName": "Hannover Rueck SE", "issuerStateOrProvinceName":
        null, "issuerCountry": "US", "firstSeen": 1383116400000, "sslVersion": "3",
        "subjectSerialNumber": "HRB 6778", "issuerOrganizationName": "Symantec Corporation",
        "sha1": "240461b20dbb24a61b0a986821c2ad01bd3a8522", "issuerProvince": null,
        "issuerLocalityName": null, "subjectProvince": "Niedersachsen", "subjectStateOrProvinceName":
        "Niedersachsen", "subjectGivenName": null, "issueDate": "Feb 04 00:00:00 2015
        GMT", "serialNumber": "82940326346474168202516519612504129226", "issuerGivenName":
        null, "subjectStreetAddress": "Karl-Wiechert-Allee 50", "subjectOrganizationUnitName":
        "IT", "fingerprint": "24:04:61:b2:0d:bb:24:a6:1b:0a:98:68:21:c2:ad:01:bd:3a:85:22",
        "lastSeen": 1383116400000, "issuerCommonName": "Symantec Class 3 EV SSL CA
        - G3", "expirationDate": "Feb 04 23:59:59 2017 GMT", "issuerStreetAddress":
        null, "subjectCountry": "DE", "issuerSerialNumber": null, "issuerSurname":
        null, "subjectSurname": null, "issuerOrganizationUnitName": "Symantec Trust
        Network", "issuerEmailAddress": null, "subjectCommonName": "securefx.hannover-re.com",
        "subjectLocalityName": "Hannover", "subjectEmailAddress": null, "subjectAlternativeNames":
        ["securefx.hannover-re.com"]}], "success": true}

        '
  recorded_at: Sun, 06 Oct 2019 02:44:45 GMT
recorded_with: VCR 5.0.0
