---
http_interactions:
- request:
    method: get
    uri: https://api.passivetotal.org/v2/ssl-certificate/search/keyword?query=sinkhole
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"queryValue": "sinkhole", "success": true, "results": [{"matchType":
        "sha1", "fieldMatch": "certificate", "focusPoint": "6e3d0aacd4d784e9920689a8421dcf9df439555e"},
        {"matchType": "sha1", "fieldMatch": "certificate", "focusPoint": "d3d863d1b9e06ec33089b0541fef3144d1b6b229"},
        {"matchType": "sha1", "fieldMatch": "certificate", "focusPoint": "ddd5a8927e3a74792bc706d4aa9799c9acd8d4e0"},
        {"matchType": "sha1", "fieldMatch": "certificate", "focusPoint": "d7f8f76f72b8310d3b03606527da85eb368ec962"},
        {"matchType": "sha1", "fieldMatch": "certificate", "focusPoint": "fdb7ec63aca82a8b2a1bccf900[...]
