---
http_interactions:
- request:
    method: get
    uri: https://api.passivetotal.org/v2/ssl-certificate/search?field=issuerCommonName&query=Symantec%20Class%203%20EV%20SSL%20CA%20-%20G3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results": [{"subjectAlternativeNames": ["solution.renesas.eu"], "issuerStateOrProvinceName":
        null, "firstSeen": 1487577600000, "subjectProvince": "Tokyo", "sslVersion":
        "3", "subjectSerialNumber": "0200-01-075701", "issuerOrganizationName": "Symantec
        Corporation", "sha1": "4516581861985119d75d6b9d5a9163f66b0ff889", "issuerProvince":
        null, "issuerLocalityName": null, "issuerCountry": "US", "subjectStateOrProvinceName":
        "Tokyo", "subjectGivenName": null, "issuerSerialNumber": null, "serialNumber":
        "30138479640474266131006816716822842683", "issuerGivenName": null, "subjectStreetAddress":
        "TOYOSU FORESIA, 3-2-24 Toyosu", "subjectOrganizationUnitName": "INFORMATION
        SYSTEMS DIVISION", "fingerprint": "45:16:58:18:61:98:51:19:d7:5d:6b:9d:5a:91:63:f6:6b:0f:f8:89",
        "subjectOrganizationName": "Renesas Electronics Corporation", "issuerStreetAddress":
        null, "expirationDate": "Mar 01 23:59:59 2018 GMT", "issuerCommonName": "Symantec
        Class 3 EV SSL CA - G3", "subjectCountry": "JP", "issueDate": "Feb 09 00:00:00
        2017 GMT", "issuerSurname": null, "subjectSurname": null, "issuerOrganizationUnitName":
        "Symantec Trust Network", "lastSeen": 1509910630808, "issuerEmailAddress":
        null, "subjectCommonName": "solution.renesas.eu", "subjectLocalityName": "Koto-ku",
        "subjectEmailAddress": null}, {"subjectAlternativeNames": ["biz.kbcard.com"],
        "issuerStateOrProvinceName": null, "firstSeen": 1536621702387, "subjectProvince":
        "SEOUL", "sslVersion": "3", "subjectSerialNumber": "101-86-61717", "issuerOrganizationName":
        "Symantec Corporation", "sha1": "4565f2c9daf863adbbdadb0dfc6f0efa1d37152b",
        "issuerProvince": null, "issuerLocalityName": null, "issuerCountry": "US",
        "subjectStateOrProvinceName": "SEOUL", "subjectGivenName": null, "issuerSerial[...]
