---
http_interactions:
- request:
    method: get
    uri: https://api.passivetotal.org/v2/host-attributes/components?query=passivetotal.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"facets": [], "success": true, "totalRecords": 577, "results": [{"firstSeen":
        "2017-08-09 04:14:50", "lastSeen": "2019-10-05 06:28:54", "label": "GitBook",
        "hostname": "help.passivetotal.org", "version": "3.2.3", "category": "Sharing"},
        {"firstSeen": "2016-08-20 04:40:29", "lastSeen": "2019-10-05 06:28:54", "label":
        "GitBook.com", "hostname": "help.passivetotal.org", "version": null, "category":
        "Server"}, {"firstSeen": "2018-12-13 08:31:27", "lastSeen": "2019-10-05 06:28:54",
        "label": "DigitalOcean USA", "hostname": "help.passivetotal.org", "version":
        null, "category": "Hosting Provider"}, {"firstSeen": "2018-09-22 19:11:42",
        "lastSeen": "2019-10-05 06:26:31", "label[...]
