---
http_interactions:
- request:
    method: get
    uri: https://api.passivetotal.org/v2/dns/search/keyword?query=passivetotal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"queryValue": "passivetotal", "results": [{"fieldMatch": "domain",
        "matchType": "domain", "focusPoint": "passivetotal.org.w3bin.com"}, {"fieldMatch":
        "domain", "matchType": "domain", "focusPoint": "passivetotal.ly.intelium.com"},
        {"fieldMatch": "domain", "matchType": "domain", "focusPoint": "passivetotal.xyz"},
        {"fieldMatch": "domain", "matchType": "domain", "focusPoint": "passivetotal.org.dnsbl7.mailshell.net"},
        {"fieldMatch": "domain", "matchType": "domain", "focusPoint": "passivetotal.org.rbl2.mcafee.com"},
        {"fieldMatch": "domain", "matchType": "domain",[...]
