---
http_interactions:
- request:
    method: get
    uri: https://api.passivetotal.org/v2/trackers/search?query=facebook.com&type=FacebookId
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"results": [{"firstSeen": "2017-06-01 14:56:54", "entity": "www.cinetech.co",
        "lastSeen": "2017-06-01 14:57:52"}, {"firstSeen": "2016-10-07 00:17:22", "entity":
        "medicplus.com.br", "lastSeen": "2017-03-27 14:49:51"}, {"firstSeen": "2016-02-25
        15:43:00", "entity": "www.morrinho.com.br", "lastSeen": "2016-02-25 15:43:00"},
        {"firstSeen": "2017-03-28 20:24:50", "entity": "multiversodaarte.com.br",
        "lastSeen": "2017-03-28 20:24:50"}, {"firstSeen": "2014-07-23 18:51:29", "entity":
        "socialbe.com.br", "lastSeen": "2014-07-23 18:51:29"}, {"firstSeen": [...]
